* { 
    font-family: sans-serif;
    color: white;
}

html {
    background-image: url('static/minecraft.jpg');
    height: 100%;
    background-size: cover;
}

#hero { 
    text-align: center;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.tool-options { 
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

img {
    width: 150px;
    height: auto;
    padding: 10px;
}

figcaption { 
    text-align: center;
}

.tool-button { 
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 16px;
    font-size: 30px;
    padding: 18px;
}

.scoreboard { 
    color: darkseagreen;
    text-align: center;
    margin: 30px;
}

#score { 
    color: goldenrod;
    font-size: 40px;
}

.winnerboard { 
    color: darksalmon;
    text-align: center; 
    margin: 30px;
}